 <div class="contain-fluid header">
        <div class="row" id="">
            <div class="col-sm-5 ">
                <h1 class="mycosttracktext">
                    <img src="images/icon-project-task.png" id="costtrackicon">
                    My cost track
                </h1>
            </div>
            <div class="col-md-2 ">
            </div>
            <div class="col-md-3 ">
            </div>
            <div class="col-md-2 ">
                <br>
                <br>
                <a href="/">
                    <button type="button" class="btn btn-outline-primary">Sign up</button>
                </a>
            </div>
        </div>
        </div>
        <div class="full-screen-container">
        
            <div class="login-container">
                <h3 class="login-title">Welcome</h3>
                <form>
                    <div class="input-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <label for=>Password</label>
                        <input type="password" class="" id="password-input" placeholder="Password">
                    </div>
                    <button type="submit" class="login-button">Sign in</button>
                </form>
                <br />
                <p>Or sign up <a href="/">here</a></p>
            </div>
        </div>