  <div class="container-fluid ">
    <div class="row section1">
      <div class="col-sm-5 ">
        <h1 class="mycosttracktext">
          <img src="images/icon-project-task.png" id="costtrackicon">
          My cost tracker
        </h1>
      </div>
      <div class="col-md-2 ">
      </div>
      <div class="col-md-3 ">
      </div>
      <div class="col-md-2 ">
        <br>
        <br>
        <a href="/login">
          {{!-- <div class="button_cont" align="center" class="example_d" 
              rel="nofollow noopener">Sign In</div> --}}
              <button class="btn btn-outline-primary">SIGN IN</button>
        </a>
      </div>
    </div>

  </div>
  </div>
  <div class="container-fluid ">
    <div class="row" id="backgroundimg">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-3">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="section2text">
          Keep track of all your expenses, in one convenient place
        </p>
        <a href="#signupform">
          <button type="button" class="btn btn-outline-primary">Get Started</button> </a>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2 py-5">
        <img src="images/bill-payment-icon-png-7.png" id="section2img">
        <br>
        <br>
        <p class="backgroundtext">
          Keep track of your receipts
        </p>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3 py-5">
        <img src="images/bills1.png" id="section2img">
        <br>
        <br>
        <p class="backgroundtext">
          Keep Track of your bills
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid signupform">
    <div class="row" id="signupform">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-md-5 ">
        <br>
        <br>
        <div class="wrap-up">
          <form action="/signup" method="post" class="signup">
            <div class="form-group">
              <h2 class="signuptext">Sign Up</h2>
              <br>
              <label for="">Email address</label>
              <input type="text" name="email" class="form-control" id="email-input" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="">Create Password</label>
              <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" required>
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
            <br>
            <pre>         <button type="submit" class="btn btn-outline-primary">Sign Up</button></pre>
          </form>
        </div>
        <br />
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <br>
        <br>
        <br>
        <br>
        <br>
       <pre>        @copyright 2020. All rights Reserved </pre> 
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </footer>